* {
  margin: 0;
  box-sizing: border-box;
  font-size: 30px;
}

#input-field {
  width: 100%;
  height: 15vh;
  background-color: rgb(141, 141, 141);
  font-size: 50px;
  padding: 30px;
  color: #fff;
}

#button-area {
  width: 100%;
  height: 85vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.row {
  display: grid;
}

.row-1, .row-2, .row-3, .row-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.row-5 {
  grid-template-columns: 2fr 1fr 1fr;
}

.calc-button {
  height: 100%;
  background-color: rgb(226, 226, 226);
  border: 0.1px solid #adadad;
}

.orange-button {
  background-color: rgb(255, 156, 42);
}
